:root {
  --main-text-color: #000000;
  --secondary-text-color: #4b4b4b;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f7fa;
  --main-font-size: 20px;
  --secondary-font-size: 16px;
  --name-font-size: 28px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.my-photo {
  width: 390px;
  height: 474px;
  background: center/cover no-repeat url('../img/oleksandr.jpg');
}
body {
  background-color: var(--secondary-background-color);
  /* padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px; */
}
.wrapper {
  font-family: Montserrat;
  background-color: var(--main-background-color);
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  padding-top: 40px;
  padding-bottom: 40px;
  /* padding-left: 30px; */
  background-color: var(--main-background-color);
  /* background: #1e2939; */
  width: 390px;
}
.about-me-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contacts-container {
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Montserrat;
}
.contacts-table {
  width: 100%;
  border-spacing: 5px;
}
.contacts-title {
  margin-bottom: 20px;
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 1.2;
}
.link-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}
.icon {
  display: flex;
  align-items: center;
  margin: 0;
  /* width: 20px; */
  margin-right: 10px;
}
.contacts-link {
  display: flex;
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: var(--secondary-font-size);
  font-weight: 400;
  line-height: 2;
}
.contacts-link-title {
  color: var(--main-text-color);
  font-family: Montserrat;
  font-weight: 700;
  margin-right: 2px;
}
.tech-skills-title {
  margin-bottom: 20px;

  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 1.2;
}
.tech-skills-container {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 55px;
}
.tech-skill-item {
  font-family: Montserrat;
  font-size: var(--secondary-font-size);
  font-weight: 400;
  line-height: 1.2;
  margin-left: 15px;
  color: var(--main-text-color);
}
.tech-skills-item-title {
  color: var(--secondary-text-color);
}

.soft-skills-container {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 55px;
}
.soft-skils-title {
  color: var(--main-text-color);
  font-family: Montserrat;
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.soft-skills-item {
  font-family: Montserrat;
  font-size: var(--secondary-font-size);
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  color: var(--main-text-color);
}
.soft-skills-item-title {
  color: var(--main-text-color);
}
.profession {
  margin-bottom: 23px;
  font-size: var(--secondary-font-size);
  font-weight: 700;
  line-height: 24px;
}
.name {
  font-size: var(--name-font-size);
  font-weight: 700;
  line-height: 2;
  /* margin-top: 10px; */
}
.info-container {
  margin-bottom: 25px;
}

.about-me-title {
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.projects-link {
  color: var(--secondary-text-color);
  font-size: var(--secondary-font-size);
  font-weight: 400;
  line-height: 24px;
}
.tech-name {
  color: var(--secondary-text-color);
  font-size: var(--secondary-font-size);
  font-weight: 400;
  line-height: 24px;
}
.dots {
  color: var(--secondary-text-color);
  font-weight: 100;
}
.project-item {
  font-weight: 700;
  margin-left: 17px;
  margin-bottom: 5px;
}

.profetion-title {
  font-size: var(--secondary-font-size);
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.prof-company {
  color: var(--main-text-color);
}
.prof-period {
  color: var(--secondary-text-color);
  font-size: var(--secondary-font-size);
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
}
.prof-devider {
  color: var(--main-text-color);
  font-weight: 700;
}
.proffesion-duties {
  margin-top: 14px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.proffesion-duties-item {
  color: var(--secondary-text-color);
  font-size: var(--secondary-font-size);
  font-weight: 400;
  line-height: 24px;
}
.project-container,
.work-container {
  margin-bottom: 20px;
}

.education-prof {
  color: var(--main-text-color);
  font-size: var(--secondary-font-size);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.description {
  color: var(--secondary-text-color);
  font-size: var(--secondary-font-size);
  font-weight: 400;
  line-height: 24px;
}
.education-item {
  margin-bottom: 20px;
}
